.top-line__container {
  @include centeredFlex(center, space-between);
  min-width: 1200px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $color-line;
}

.top-line__navi {
  @include centeredFlex();
}

.site-navi {
  @include centeredFlex();

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-navi__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $black-title;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $transit-properties;

  &--current {
    position: relative;
    transition: color $transit-properties;
  }

  &::after,
  &--current::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-brand;
  }

  &::after {
    transform: scaleX(0);
    transition: transform $transit-properties;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
  }

  &::after & {
    transition: color $transit-properties;
  }

  &--current,
  &:hover,
  &:focus {
    color: $accent-brand;
  }
}

.out-navi {
  @include centeredFlex();

  .out-navi__item:not(:last-child) {
    margin-right: 50px;
  }
}

.out-navi__link {
  @include centeredFlex();
  padding-top: 32px; /*удерживает высоту хедера*/
  padding-bottom: 32px; /*удерживает высоту хедера*/
  color: var(--black-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $transit-properties;

  &:hover,
  &:focus,
  &:hover,
  &:focus {
    color: $accent-brand;
  }

  &:hover .out-navi__icon,
  &:focus .out-navi__icon {
    fill: $accent-brand;
  }
}

.out-navi__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  transition: fill $transit-properties;
}
